body {
    margin: 0;
}
.navbar {
    background-color: black;
    color: white;
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-left-div {
    margin-right: auto;
}
.logo-right-div {
    margin-left: auto;
}
.logo {
    margin: 0;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 14px;
}

.account-info {
    margin: 0;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 10px;
}

.logout-button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    margin-left: 10px;
    font-family: "Arial Black", Arial, sans-serif;
    font-size: 6px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.user-table a {
    color: #333;
    text-decoration: none;
}

.user-table a:hover {
    color: #ff0000;
}