body {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #242522;
    color: #edf0f1;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #001f3f;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container label {
    display: block;
    margin-bottom: 10px;
}

.container input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

.container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0088a9;
    border: none;
    border-radius: 5px;
    color: #edf0f1;
    cursor: pointer;
}

.container a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #0088a9;
    text-decoration: none;
}
