<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employee Registration Form</title>
  <link rel="stylesheet" th:href="@{/css/registration-form.css}"/>
</head>
<body>
<header>
  <a th:href="@{/main-page}"><img class="logo" th:src="@{/logo/logo_effi.png}" alt="logo"/></a>
</header>

<div class="container">
  <h3>Employee Registration Form</h3>

  <form action="#" th:action="@{/register/process-employee-registration}" th:object="${employeeRegistrationObject}" method="POST">
    <fieldset>
      <legend>User</legend>

      <div class="form-group">
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" name="firstName" class="form-input" th:field="*{firstName}" required/>
      </div>
      <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

      <div class="form-group">
        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" name="lastName" class="form-input" th:field="*{lastName}" required/>
      </div>
      <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" class="form-input" th:field="*{email}" required/>
      </div>
      <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

      <div class="form-group">
        <label for="role">Role:</label>
        <select id="role" name="role" class="form-input" th:field="*{role}" required>
          <option value="MANAGER">manager</option>
          <option value="NORMAL_EMPLOYEE">normal employee</option>
        </select>
      </div>
    </fieldset>

    <div class="form-group">
      <input type="submit" value="Add" class="btn-primary"/>
    </div>
  </form>
</div>

</body>
</html>
