<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras.spring-security">
<head>
  <meta charset="UTF-8">
  <title>Users page</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
  <link rel="stylesheet" th:href="@{/css/table-styles.css}"/>
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
  <img class="logo" th:src="@{/logo/logo_effi.png}" alt="logo"/>
  <nav>
    <ul class="nav_links">
      <li sec:authorize="hasRole('ROLE_MANAGER')"><a th:href="@{/employees-list}">Employees list</a></li>
      <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a th:href="@{/my-profile}">My profile</a></li>
    </ul>
  </nav>
  <a classs="cta" th:href="@{/logout}"><button>Logout</button></a>
</header>

<table class="table-style">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.firstName}"></td>
    <td th:text="${user.lastName}"></td>
    <td th:text="${user.email}"></td>
    <td>
      <div class="centered">
        <a classs="cta" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/delete-user(userId=${user.id})}"
           onclick="if (!confirm('Are you sure you want to delete this employee?')) return false"><button>Delete</button></a>
        <a classs="cta" sec:authorize="hasRole('ROLE_MANAGER')" th:href="@{/view-user-tasks(userId=${user.id})}"><button>View profile</button></a>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<a classs="cta" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/register/show-employee-registration-form}"><button>Add new employee/manager</button></a>
</div>
</body>
</html>