<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras.spring-security">
<head>
  <meta charset="UTF-8">
  <title>Effi app main page</title>
  <link rel="stylesheet" th:href="@{/css/main-page-css.css}"/>
</head>
<body>
<div class="navbar">
  <div class="logo-left-div">
    <h1 class="logo" >Effi:</h1>
    <span class="logo" sec:authentication="principal.company.name"></span>
  </div>
  <div class="logo-right-div">
    <span class="account-info" sec:authentication="principal.username"></span>
    <form action="#" th:action="@{/logout}" method="POST">
      <input  class="logout-button" type="submit" value="Logout">
    </form>
  </div>
</div>

<div  sec:authorize="hasRole('ROLE_ADMIN')">
  <table class="user-table">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users}">
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td th:text="${user.email}"></td>
      <td>
        <a class="delete-link" th:href="@{/delete-user(userId=${user.id})}" onclick="if (!confirm('Are you sure you want to delete this employee?')) return false">Delete</a>
        <a  th:href="@{/view-user-tasks(userId=${user.id})}">View user's tasks</a>
      </td>
    </tr>
    </tbody>
  </table>

  <a class="add-link" th:href="@{/register/show-employee-registration-form}">Add</a>
</div>

</body>
</html>
