<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras.spring-security">
<head>
    <meta charset="UTF-8">
    <title>Effi main page</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/table-styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
  <header>
    <img class="logo" th:src="@{/logo/logo_effi.png}" alt="logo"/>
    <nav>
      <ul class="nav_links">
        <li sec:authorize="hasRole('ROLE_MANAGER')"><a th:href="@{/employees-list}">Employees list</a></li>
        <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a th:href="@{/my-profile}">My profile</a></li>
      </ul>
    </nav>
    <a classs="cta" th:href="/logout"><button>Logout</button></a>
  </header>

  <div sec:authorize="hasRole('ROLE_EMPLOYEE')">
      <label>Your tasks for today: </label>
      <table class="table-style">
          <thead>
          <tr>
              <th>Task</th>
              <th>Status</th>
              <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="task : ${tasks}">
              <td th:text="${task.title}"></td>
              <td th:text="${task.status}"></td>
              <td>
                 <div class="centered"> <a classs="cta" th:href="@{/task-details(taskId=${task.id})}"><button>Details</button></a> </div>
              </td>
          </tr>
          </tbody>
      </table>
  </div>
</body>
</html>