<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company Registration Form</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/registration-form.css}"/>
</head>
<body>
<header>
    <img class="logo" th:src="@{/logo/logo_effi.png}" alt="logo"/>
</header>

<div class="container">
    <h3>Company Registration Form</h3>

    <form action="#" th:action="@{/register/process-new-company}" th:object="${registrationObject}" method="POST">
        <fieldset>
            <legend>Company</legend>
            <div class="form-group">
                <label for="companyName">Company name:</label>
                <input type="text" id="companyName" name="companyName" class="form-input" th:field="*{companyName}" required/>
            </div>
            <div class="error" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></div>
        </fieldset>

        <fieldset>
            <legend>User</legend>

            <div class="form-group">
                <label for="userFirstName">First name:</label>
                <input type="text" id="userFirstName" name="userFirstName" class="form-input" th:field="*{userFirstName}" required/>
            </div>
            <div class="error" th:if="${#fields.hasErrors('userFirstName')}" th:errors="*{userFirstName}"></div>

            <div class="form-group">
                <label for="userLastName">Last name:</label>
                <input type="text" id="userLastName" name="userLastName" class="form-input" th:field="*{userLastName}" required/>
            </div>
            <div class="error" th:if="${#fields.hasErrors('userLastName')}" th:errors="*{userLastName}"></div>

            <div class="form-group">
                <label for="userEmail">Email:</label>
                <input type="email" id="userEmail" name="userEmail" class="form-input" th:field="*{userEmail}" required/>
            </div>
            <div class="error" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></div>

            <div class="form-group">
                <label for="userPassword">Password:</label>
                <input type="password" id="userPassword" name="userPassword" class="form-input" th:field="*{userPassword}" required/>
            </div>
            <div class="error" th:if="${#fields.hasErrors('userPassword')}" th:errors="*{userPassword}"></div>
        </fieldset>

        <div class="form-group">
            <input type="submit" value="Register" class="btn-primary"/>
        </div>
    </form>
</div>

</body>
</html>
