<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymleaf.org/extras.spring-security">
<head>
    <meta charset="UTF-8">
    <title>Users page</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/table-styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <a th:href="@{/main-page}"><img class="logo" th:src="@{/logo/logo_effi.png}" alt="logo"/></a>

    <nav>
        <ul class="nav_links">
            <li sec:authorize="hasRole('ROLE_MANAGER')"><a th:href="@{/employees-list}">Employees list</a></li>
            <li sec:authorize="hasRole('ROLE_EMPLOYEE')"><a th:href="@{/my-profile}">My profile</a></li>
        </ul>
    </nav>
    <form action="#" th:action="@{/logout}" method="POST">
        <input class="cta" type="submit" value="Logout">
    </form>
</header>

<h2>Employee Details</h2>
    <p>First Name: <span th:text="${user.firstName}"></span></p>
    <p>Last Name: <span th:text="${user.lastName}"></span></p>
    <p>Email: <span th:text="${user.email}"></span></p>

    <div>
        <table class="table-style">
            <thead>
            <tr>
                <th>Title</th>
                <th>Deadline</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.title}"></td>
                <td th:text="${task.deadline}"></td>
                <td th:text="${task.status}"></td>
                <td>
                    <div class="centered">
                        <a classs="cta" th:href="@{/task-details(taskId=${task.id})}"><button>Details</button></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <a classs="cta" th:href="@{/register/show-new-task-form(userId=${user.id})}"><button>New task</button></a>
    </div>

</body>
</html>